<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang chủ - EcoVid</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <header>
        <h1>Hashtag To Fantasy</h1>
        <nav>
            <a href="{{url_for('index')}}">Trang chủ</a>
            <a href="{{url_for('login')}}">Đăng nhập/Đăng ký</a>
            <a href="dashboard.html">Dashboard</a>
            <a href="profile.html">Hồ sơ cá nhân</a>
            <a href="support.html">Hỗ trợ</a>
        </nav>
    </header>
    <main>
        {% block main %}
        {% endblock %}
    </main>
    <footer>
        <p>© 2024 DGHHM. All rights reserved.</p>
    </footer>
    <!-- <script src="js/script.js"></script> -->
</body>
</html>
